
 
 h1 {font-size: 56px;}
 h2 {font-size: 46px;}
 h3 {font-size: 36px;}
 h4 {font-size: 26px;}
 h5 {font-size: 20px;}
 h6 {font-size: 16px;}
 
 .s1{
      background-color: #ffe6e6;
      border-bottom: 1px solid pink;
      overflow: auto;
 
 }
 
 .s2{
      background-color: whitesmoke;
      border-bottom: 1px solid pink;
      overflow: auto;
      border: 1px solid black;


      box-shadow: 10px 10px 89px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 10px 10px 89px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 89px 0px rgba(0,0,0,0.75);
 
 }
 
 .main-container{
 
     width: 1200px;
     margin: 0 auto;
 }
 
 .greeting-wrapper{
 
     display: grid;
     text-align: center;
     align-content: center;
    
     min-height: 10em;
 }
 
 .intro-wrapper{
     background-color: whitesmoke;
     border: 1px solid pink;
     border-radius:5px 5px 0 0;
 
 
 

 
     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 3em 40em;
     grid-template-areas: 
 
        'nav-wrapper nav-wrapper'
 
        'left-column right-column'
         
         ;
 
 
 
 
 }
 
 .nav-wrapper{
     grid-area: nav-wrapper;
     border-bottom: 1px solid black;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #ffe6e6;
 
 }
 
 #navigation{
     margin: 0;
     padding: 10px;
 }
 
 #navigation li{
     display: inline-block;
     margin-right: 5px;
     margin-left: 5px;
 }
 
 
 ul{
     float: left;
     margin-top: 8px;
     list-style: none;
 }
 
 li{
     display: inline-block;
     padding: 15px 30px;
 }
 
 a{
     text-align: center;
     color: #7B241C;
     font-weight: bold;
     text-decoration: none;
 }
 
 a:hover{
     color:#FFC300;
     transition:0.5s;
 
 
 }
 
 .left-column{
     grid-area: left-column;
     
 }
 
 
 
 #profile_pic{
     display: block;
     margin: 10px auto;
 
     width: 350px;
     height: 400px;
     object-fit: cover;
     border: 2px solid black;
 
 }
 
 
 .right-column{
     grid-area: right-column;
     display: grid;
     align-content: center;
 
     padding-top: 50px;
     padding-bottom: 50px;
     
 }
 
 #preview-shadow{
 
     background-color:#eeccff;
     width: 300px;
     height: 180px;
     padding-left: 30px;
     padding-top: 30px;
 }
 
 #preview{
     width: 300px;
     border: 1.5px solid black;
     background-color:#f5e6ff;
     padding:15px ;
     position: relative;
 
 }
 
 .corner{
     width: 7px;
     height: 7px;
     border-radius: 50%;
     border: 1.5px solid black;
     background-color: #ffffff;
     position: absolute;
 
 }
 
 #corner-tl{
     top: -5px;
     left: -5px;
 }
 
 #corner-tr{
     top: -5px;
     right: -5px;
 }
 
 #corner-br{
     bottom: -5px;
     right: -5px;
 }
 
 #corner-bl{
     bottom: -5px;
     left: -5px;
 }
 
 @media screen and (max-width:  1200px){
     .main-container{
         width: 95%;
     }
 }
 
 @media screen and (max-width:  1200px){
 
     .intro-wrapper{
     grid-template-columns: 1fr;
     grid-template-areas: 
 
        'nav-wrapper'
        'left-column'
        'right-column'
 
 
         
         ;
 
 }
 .right-column{
     justify-content: center;
 }
     
 }
 
 .about-me{
 
     margin: 5px;
     padding: 5px;
     float: left;
 

 }
 
 .my_projects{
     margin: 15px;
 }
 
 .projects{
     margin: 15px;
 }
 
 
 .main-container{

 
 
 }
 .contact{
     width:100%;
     margin: 30px ;
     background-color: antiquewhite;
     
 
 
 }
 
 table{
     border-collapse: collapse;
 }
 td{
 
     padding: 1rem;
 }